<div class="row">
  <div class="col-md-12 text-center">
    <h2>Bem Vindo a sua To Do List</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h2> Suas tarefas são:</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2> Para criar uma tarefa, clique aqui:</h2>
    <%= link_to 'New Tarefa', new_tarefa_path %>
  </div>
</div>